.admin-phase2-container {
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.admin-phase2-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}